<div class="container">

  <div class="row">
    <div class="col-md-4 text-center">
      <h5>Exisitng User?</h5>

      <h5>New User?</h5>
    </div>
    <div class="col-md-8 text-center">
      <h4>posts</h4>
    </div>
  </div>

</div>
