<div class="container">
  <div class="users-container">
    <% @users.each do |user| %>
      <%= render partial: "layouts/user_index_card", locals: {user: user} %>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to "Create New User", :new_user, class: "btn user_button" %>
  </div>
</div>
