<div class="container">
  <div class="posts-index-container">
    <% @posts.each do |post| %>
      <%= render partial: "layouts/post_summary", locals: {post: post} %>
    <% end %>
    <div class="text-center">
      <%= link_to "Create Blog Post", :new_post, class: "btn user_button m-t-10" %>
    </div>
  </div>
</div>
